# exclude the NonGit subfolder
non_git/

# exclude google secret file
GoogleClientSecret.json

# exclude raspberry deploy script
raspberry_deploy.sh

# exclude compiled python files
*.py[cod]

# exclude pycharm project information
.idea/